#container{
	display: flex;
  text-align: center;
 justify-content: center;
  width: auto;
  font-size:15px;
}
#box-1{
	background-color:lightblue ;
	width: 100%;
  height:200px;
}
#box-2{
	background-color:white ;
	width: 70%;
  
}
#box-3{
  width:20%;
  display:inline-block;
  vertical-align:top;
}
#box-4{
  width:20%;
  display:inline-block;
  vertical-align:top;
}
#box-5{
  width:20%;
  display:inline-block; 
  vertical-align:top;
  
 
}
ul h2  li {
   
}
 